.container{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .text{
        width: 70%;
        span{
            font-size: 15px;
        }
        h3{
            font-size: 30px;
        }

    }
    .carts{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
          flex-wrap: wrap;
     
        .cart{
            width: 25%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .basket{
                width: 70%;
                position: relative;
                overflow: hidden;
                &:hover{
                    .ichon{
                     display: flex;
                    }
                }
                .image{
                    width: 100%;
                    img{
                        max-width: 100%;
                    }

                }
                .ichon{
                    width: 98%;
                    height: 9vh;
                    display: none;
                    justify-content: space-evenly;
                    align-items: center;
                 position: absolute;
                 bottom: 3px;
                 left: 0;
                 background-color: rgba(155, 152, 147, 0.146);
                    svg{
                        width: 30px;
                        height: 30px;
                        color: white;
                        background-color: lightskyblue;
                  
                
                    }
                }
            }
            p{
                font-size: 17px;
            }
            h2{
                font-size: 20px;
            }
            span{
                font-size: 16px;
            }
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
    .container{
        width: 100%;
       height: auto;
        .text{
            width: 90%;
            span{
                font-size: 15px;
            }
            h3{
                font-size: 30px;
            }
    
        }
        .carts{
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
              flex-wrap: wrap;
         
            .cart{
                width: 80%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                .basket{
                    width: 70%;
              
                    &:hover{
                        .ichon{
                         display: flex;
                        }
                    }
                    .image{
                        width: 100%;
                        img{
                            max-width: 100%;
                        }
    
                    }
                    .ichon{
                        width: 85%;
                        height: 9vh;
                      
                     
                    }
                }
                p{
                    font-size: 17px;
                }
                h2{
                    font-size: 20px;
                }
                span{
                    font-size: 16px;
                }
            }
        }
    }
    
    
  }
  @media screen and (min-width: 700px) and (max-width: 1024px) {
    .container{
        width: 100%;
       height: auto;
        .text{
            width: 90%;
            span{
                font-size: 15px;
            }
            h3{
                font-size: 30px;
            }
    
        }
        .carts{
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
              flex-wrap: wrap;
         
            .cart{
                width: 50%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                .basket{
                    width: 70%;
              
                    &:hover{
                        .ichon{
                         display: flex;
                        }
                    }
                    .image{
                        width: 100%;
                        img{
                            max-width: 100%;
                        }
    
                    }
                    .ichon{
                        width: 88%;
                        height: 9vh;
                      
                     
                    }
                }
                p{
                    font-size: 17px;
                }
                h2{
                    font-size: 20px;
                }
                span{
                    font-size: 16px;
                }
            }
        }
    }
    
    
  }
